In [2]:
import pandas as pd
import glob

# Load all CSV files in data/ folder
files = glob.glob("../data/daily_cow_records_*.csv")

dfs = []
for f in files:
    df = pd.read_csv(f)
    df["source_file"] = f  # keep track of file origin
    dfs.append(df)

# Combine into one dataframe
data = pd.concat(dfs, ignore_index=True)

data.head()

,Date,Cow+AF8-ID,Activity,Session,Milk+AF8-Liters,Feed+AF8-kg,source_file,Temperature+AF8-C,Notes,7
0,2025+AC0-11+AC0-18,JACKPOT,Feeding,Morning,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
1,2025+AC0-11+AC0-18,JACKPOT,Milking,Morning,6.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
2,2025+AC0-11+AC0-18,JACKPOT,Milking,Midday,4.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
3,2025+AC0-11+AC0-18,JACKPOT,Feeding,Evening,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
4,2025+AC0-11+AC0-18,JACKPOT,Milking,Evening,4.7,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN

In [3]:
import pandas as pd
import glob

# Path to your data folder
path = "../data/*.csv"

# Load all CSVs
files = glob.glob(path)

files

['../data/daily_cow_records_2025-18-NOV.csv',
 '../data/daily_cow_records_2025-23-OCT.csv',
 '../data/daily_cow_records_2025-03-NOV.csv',
 '../data/daily_cow_records_2025-15-NOV.csv',
 '../data/daily_cow_records_2025-19-NOV.csv',
 '../data/daily_cow_records_2025-21-OCT.csv',
 '../data/daily_cow_records_2025-16-NOV.csv',
 '../data/daily_cow_records_2025-14-NOV.csv',
 '../data/daily_cow_records_2025-07-NOV.csv',
 '../data/daily_cow_records_2025-30-OCT.csv',
 '../data/daily_cow_records_2025-11-NOV.csv',
 '../data/daily_cow_records_2025-28-OCT.csv',
 '../data/daily_cow_records_2025-20-OCT.csv',
 '../data/daily_cow_records_2025-01-NOV.csv',
 '../data/daily_cow_records_2025-25-OCT.csv',
 '../data/daily_cow_records_2025-10-NOV.csv',
 '../data/daily_cow_records_2025-26-OCT.csv',
 '../data/daily_cow_records_2025-21-NOV.csv',
 '../data/daily_cow_records_2025-13-NOV.csv',
 '../data/daily_cow_records_2025-17-OCT.csv',
 '../data/daily_cow_records_2025-22-OCT.csv',
 '../data/daily_cow_records_2025-05-NOV.csv',
 '../data/daily_cow_records_2025-17-NOV.csv',
 '../data/daily_cow_records_2025-09-NOV.csv',
 '../data/daily_cow_records_2025-04-NOV.csv',
 '../data/daily_cow_records_2025-06-NOV.csv',
 '../data/daily_cow_records_2025-27-OCT.csv',
 '../data/daily_cow_records_2025-19-OCT.csv',
 '../data/daily_cow_records_2025-08-NOV.csv',
 '../data/daily_cow_records_2025-31-OCT.csv',
 '../data/daily_cow_records_2025-20-NOV.csv',
 '../data/daily_cow_records_2025-18-OCT.csv',
 '../data/daily_cow_records_2025-02-NOV.csv',
 '../data/daily_cow_records_2025-12-NOV.csv',
 '../data/daily_cow_records_2025-24-OCT.csv']

In [4]:
# Load and combine all CSVs into one dataframe
df_list = []

for file in files:
    temp_df = pd.read_csv(file)
    temp_df["source_file"] = file  # track origin
    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,Date,Cow+AF8-ID,Activity,Session,Milk+AF8-Liters,Feed+AF8-kg,source_file,Temperature+AF8-C,Notes,7
0,2025+AC0-11+AC0-18,JACKPOT,Feeding,Morning,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
1,2025+AC0-11+AC0-18,JACKPOT,Milking,Morning,6.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
2,2025+AC0-11+AC0-18,JACKPOT,Milking,Midday,4.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
3,2025+AC0-11+AC0-18,JACKPOT,Feeding,Evening,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
4,2025+AC0-11+AC0-18,JACKPOT,Milking,Evening,4.7,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN

In [5]:
df.columns = (
    df.columns
    .str.replace("+AC0-", "-", regex=False)
    .str.replace("+AF8-", "_", regex=False)
    .str.replace("+", "", regex=False)
)

df.head()

,Date,Cow_ID,Activity,Session,Milk_Liters,Feed_kg,source_file,Temperature_C,Notes,7
0,2025+AC0-11+AC0-18,JACKPOT,Feeding,Morning,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
1,2025+AC0-11+AC0-18,JACKPOT,Milking,Morning,6.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
2,2025+AC0-11+AC0-18,JACKPOT,Milking,Midday,4.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
3,2025+AC0-11+AC0-18,JACKPOT,Feeding,Evening,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
4,2025+AC0-11+AC0-18,JACKPOT,Milking,Evening,4.7,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN

In [7]:
df['Date'] = df['Date'].str.replace("+AC0-", "-", regex=False)
df.head()

,Date,Cow_ID,Activity,Session,Milk_Liters,Feed_kg,source_file,Temperature_C,Notes,7
0,2025-11-18,JACKPOT,Feeding,Morning,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
1,2025-11-18,JACKPOT,Milking,Morning,6.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
2,2025-11-18,JACKPOT,Milking,Midday,4.2,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
3,2025-11-18,JACKPOT,Feeding,Evening,NaN,2.5,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN
4,2025-11-18,JACKPOT,Milking,Evening,4.7,NaN,../data/daily_cow_records_2025-18-NOV.csv,NaN,NaN,NaN